@import "./fonts.css";
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* custom css */

@layer base {

    body {
        color: #363636;
    }


    h1, h2 {
        font-family: "Spartan Bold";
        font-size: 1.8rem;
        line-height: 120%;
        text-transform: uppercase;
    }

    h3 {
        @apply text-1;
        line-height: 120%;
    }

    p {
        @apply text-1;
        line-height: 160%;

    }

    @screen lg {
        figcaption {
            @apply text-1.25;
        }
    }
    
  }



@layer components {

    .side__wrapper {
        @apply flex flex-col items-center;
    }

    .palette-box {
        @apply h-24 w-24 rounded-full;
    }

}


@layer utilities {
    .text-gr-blue {
        background: linear-gradient(180deg, rgba(86,202,213,1), rgba(36,122,212,1));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    } 

    .gr-silver {
        background: linear-gradient(180deg, rgba(217, 219, 224, 0) 0%, #D9DBE0 100%);
    }

    .gr-blue {
        background: linear-gradient(179deg, rgba(86,202,213,1), rgba(36,122,212,1));
    }

    .sirius {
        color: #fafafa;
    }
   
    .row__visual-translate {
        
        background: #E3EDFE;

        background: linear-gradient(131.26deg, #F1F6FF 0%, #FFFFFF 100%);

        /* background: linear-gradient(179deg, rgba(86,202,213,1), rgba(36,122,212,1)); */

        /* background: linear-gradient(344.89deg, #FFFFFF -2.18%, #F4F4F4 106.48%); */

        /* background-color: #eaeaea; */

        /* background-color: #fafafa; */

        box-shadow: inset 0px 0px 8px 0px rgba(0, 0, 0, 0.16);

        @apply rounded-md;
    }

    .row__visual-shun {
        background-color: #626262;
        box-shadow: inset 0px 0px 8px 0px rgba(0, 0, 0, 0.16);

        @apply text-gray-200;
    }

    .btn {
        @apply cursor-pointer text-1 shadow-md border-2 bg-white bg-opacity-10 rounded-md border-white border-opacity-75 transition duration-300 ease-in-out;

    }

    .btn__white {
        @apply bg-opacity-100;
    }

    .btn__project {
        @apply py-2 px-3;
    }

    .btn:hover{
        @apply shadow-xl bg-opacity-100 text-gray-900;
    }

    .btn:focus{
        @apply outline-none shadow-outline;
    }



    .scrim{
        @apply fixed h-screen w-screen bg-black bg-opacity-50 transition duration-300 ease-in-out z-40;
    }

    .navbar{
        @apply flex flex-row p-6 fixed w-full right-0 z-50;
        transition: top 0.3s;
    }
    
    
    @screen sm {
        .btn__white{
            @apply p-4;
        }

    }


    @screen lg {
        .btn{
            @apply text-1.25;
        }
    }





    .palette-box__1 {
    background: #FAFAFA;
    }

    .palette-box__2 {
        background: #F4F4F4;
    }

    .palette-box__3 {
        background: #E0E0E0;
    }

    .palette-box__4 {
        background: #7A7A7A;
    }

    .palette-box__5 {
        background: linear-gradient(180deg, #EF617C 14.76%, #E0243B 100%);
    }

    .palette-box__6 {
        
        background: linear-gradient(344.89deg, #FFFFFF -2.18%, #F4F4F4 106.48%);
        box-shadow: inset 2px 2px 8px 0px rgba(0, 0, 0, 0.16);

    }

}

.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 4rem;
}
